*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
:root{
    --main: orange;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(187, 187, 187);
    border-radius: 20px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: black;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}
.menu_icon, .search_icon{
    color: white;
    cursor: pointer;
    font-size: 18px;
    display: none;
}
.search_icon{
    display: block;
}
nav .logo a{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
nav .logo a:hover{
    color: var(--main);
}
nav .nav_items{
    display: flex;
    margin: 0 40px;
}
nav .nav_items li{
    list-style: none;
    margin-right: 20px;
}
nav .nav_items li:last-child{
    margin-right: 0;
}
nav .nav_items li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
nav .nav_items li a:hover{
    color: var(--main);
}
nav .search{
    min-width: 240px;
    position: absolute;
    top: 75px;
    right: 50px;
    display: flex;
    z-index: 1000;
}
nav .search::before{
    content: "";
    position: absolute;
    top: -30px;
    right: 50px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: rgb(202, 202, 202);
}
nav .search::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    height: 100%;
    background-color: rgb(202, 202, 202);
    padding: 10px;
    border: 1px solid transparent;
}
nav .search input{
    width: 100%;
    outline: none;
    border: 1px solid black;
    color: white;
    font-weight: 700;
    padding: 0 10px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
nav .search input::placeholder{
    color: lightgray;
    letter-spacing: 1px;
}
nav .search button{
    background-color: var(--main);
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
    padding: 7px 13px;
    cursor: pointer;
}
.display_none{
    display: none!important;
}
.banner{
    width: 100%;
    height: 91.3vh;
    background-image: url('./blood_donation.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: 100% 100%;
}


/* ************** About ************** */
.row{
    display: flex;
    margin-top: 40px;
}
.column{
    width: 50%;
}
.left{
    padding: 30px;
}
.right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about{
    background-color: rgb(243, 255, 255);
}
.about__image{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    object-fit: contain;
}
.heading{
    font-weight: bold;
    color: var(--main);
    font-size: 40px;
}
.inner_text{
    font-size: 18px;
    padding: 0 40px;
    color: rgb(143, 143, 143);
    text-indent: 60px;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 20px;
}

/* ************* gallery ************ */
.gallery{
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
}
.gallery__image{
    width: 100%;
    border-radius: 10px;
    height: 200px;
}
.col-4{
    width: 33%;
    padding: 0 20px;
}
footer{
    text-align: center;
    background-color: var(--main);
    padding: 30px;
    color: white;
    font-weight: bold;
    margin-top: 40px;
}


@media (max-width: 1060px){
    nav{
        padding: 10px 70px;
    }
    nav .search{
        right: 20px;
    }
}

@media (max-width: 991px){
    nav{
        padding: 10px 30px;
    }
    nav .logo{
        flex: 2;
        /* width: 100%; */
        text-align: center;
    }
    nav .nav_items{
        position: fixed;
        top: 50px;
        width: 100%;
        z-index: 99;
        height: 100%;
        background-color: black;
        left: -100%;
        right: 0;
        margin: 0;
        display: block;
        text-align: center;
        padding: 10px 50px;
        transition: .5s ease-in-out all;
    }
    nav .nav_items.active{
        left: 0%;
    }
    nav .nav_items li{
        margin: 0;
        padding: 10px 0;
    }
    .menu_icon, .search_icon{
        display: block;
    }
    nav .search::before{
        right: 10px;
    }
}